<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md">
        <form>
            <div class="form-group">
                <label for="searchText">搜索</label>
                <input type="text" class="form-control" id="searchText" value="52597262388">
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" id="search-btn" onclick="">查看</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <div id="user-list" class="row">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <a href="#uid" id="gotoTop" class="btn btn-primary btn-lg btn-block">顶部</a>
    </div>
</div>
</body>
</html>