<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container-fluid">

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline">
                    <label for="searchText">搜索User：</label>
                    <input type="text" class="form-control" id="searchText" value="">
                    <button type="button" class="btn btn-primary btn-sm" id="search-btn" onclick="searchUsers('currentPage', true)">搜索</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md overflow-auto" style="height: 830px;">
                        <table class="table" style="width: 100%;">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input type="hidden" id="nextPage" value="0"/>
                        <input type="hidden" id="prePage" value="0"/>
                        <input type="hidden" id="currentPage" value="0"/>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-sm justify-content-center">
                                <li id="pre" class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0)" onclick="searchUsers('prePage', false)">上一页</a>
                                </li>
                                <li id="next" class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0)" onclick="searchUsers('nextPage', false)">下一页</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline">
                    <label for="uid">UID：</label>
                    <input type="text" class="form-control" id="uid" value="52597262388" style="width:600px;">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-sm" id="profile-btn" onclick="view(true, false)">查看</button>
                        <button type="button" class="btn btn-success btn-sm" id="profile-all-btn" onclick="view(true, true)">查看所有</button>
                        <button type="button" class="btn btn-warning btn-sm" id="clear-btn" onclick="clearVideo()">清空</button>
                        <button type="button" class="btn btn-info btn-sm" id="download-all-btn" onclick="downloadPage()">下载当前所有</button>
                        <button type="button" class="btn btn-danger btn-sm" id="delete-all-btn" onclick="deletePage()">删除当前所有</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md overflow-auto" style="height: 830px;">
                        <div id="video-list" class="row"></div>
                        <div class="row">
                            <div class="col-md">
                                <input type="hidden" id="cursor" value="0"/>
                                <button type="button" id="nextPageVideo" class="btn btn-info btn-sm btn-block" style="display: none;"
                                        onclick="view(false)">更多
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-dark">
                                共 <span id="total-num" class="badge badge-light"></span> 个
                            </button>
                            <button type="button" class="btn btn-dark">
                                已下载 <span id="download-num" class="badge badge-light"></span> 个
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="row">
    <div class="col-md">
        <a href="#uid" id="gotoTop" class="btn btn-primary btn-lg btn-block">顶部</a>
    </div>
</div>-->

<div id="searching" class="modal fade bd-example-modal-sm" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>查询中...</p>
            </div>
        </div>
    </div>
</div>

<div id="downloading" class="modal fade bd-example-modal-sm" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>下载中...</p>
            </div>
        </div>
    </div>
</div>

<div aria-live="polite" aria-atomic="true" style="position: absolute; z-index: 999; top: 0; right: 0;">
    <div id="toasts" style="position: relative;">
    </div>
</div>

<div id="play-video" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/jquery-scrollTo/2.1.2/jquery.scrollTo.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
<script>
    var awemeMap = {};
    var searching = $("#searching");
    var downloading = $("#downloading");
    var toasts = $("#toasts");
    var playVideo = $("#play-video");
    playVideo.on('hidden.bs.modal', function (e) {
        playVideo.off("shown.bs.modal");
        playVideo.find("video").remove();
    });

    function view(clear, isAll) {
        if (clear) {
            clearVideo();
        }
        searching.on('shown.bs.modal', function (e) {
            try {
                loadVideos(isAll);
            } catch (e) {
                console.error(e);
                searching.modal('hide');
            } finally {
                searching.off();
            }
        });
        searching.modal('show');
    }

    function loadVideos(isAll) {
        var url = "/dyhelper/view/user?searchText=" + encodeURIComponent($("#uid").val());
        var cursor = $("#cursor").val();
        if (cursor) {
            url += ("&cursor=" + cursor);
        }
        $.get(url, function (result) {
            var videosInfo = JSON.parse(result.videosInfo);
            $("#cursor").val(videosInfo.max_cursor);
            var existsMap = result.exists;
            $.each(videosInfo.aweme_list, function (index, aweme) {
                awemeMap[aweme.video.vid] = {
                    url: aweme.video.download_addr.url_list[0],
                    videoId: aweme.video.vid,
                    uid: aweme.author.uid
                };
                var html = "" +
                    "<div class='col-md-3'>" +
                    "  <div id='" + aweme.video.vid + "' class='card bg-light border-dark '>" +
                    "    <img src='" + aweme.video.dynamic_cover.url_list[0] + "' class='card-img-top'>" +
                    "    <div class='card-body'>" +
                    "      <h5 class='card-title'>" + aweme.desc + "</h5>";
                if (existsMap[aweme.video.vid]) {
                    var localFile = existsMap[aweme.video.vid];
                    // html = html +
                    //     "<p class='card-text'>" + localFile.videoFile + "</p>";
                    html = html +
                        "<button type='button' onclick='doPlayVideo(\"" + localFile.localUrl + "\")'" +
                        " class='btn btn-info btn-sm'>播放</button>";
                    html = html +
                        "<button type='button' class='btn btn-danger btn-sm delete-video-btn'" +
                        " onclick='deleteVideo(\"" + localFile.video.uid + "\", \"" + localFile.video.videoId + "\")'>删除</button>";
                } else {
                    html = html +
                        "<button type='button' class='btn btn-primary btn-sm download-video-btn'" +
                        " onclick='download(\"" + aweme.video.vid + "\")'>下载</button>";
                }
                html = html +
                    "    </div>" +
                    "  </div>" +
                    "</div>";
                $("#video-list").append(html);
            });
            if (videosInfo.has_more === true) {
                // $("#nextPageVideo").removeAttr("disabled");
                $("#nextPageVideo").show();
                if (isAll) {
                    loadVideos(isAll);
                }
            } else {
                // $("#nextPageVideo").attr("disabled", "disabled");
                $("#nextPageVideo").hide();
            }
            if ((isAll && videosInfo.has_more === false) || isAll === false) {
                searching.modal('hide');
            }
            $("#total-num").html($(".card").length);
            $("#download-num").html($(".delete-video-btn").length);
        }, "json");
    }

    function download(videoId) {
        var btn = $("#" + videoId + " .download-video-btn");
        btn.attr("disabled", "disabled");
        try {
            var aweme = awemeMap[videoId];
            $.get(
                "/dyhelper/download/video",
                aweme,
                function (localVideo) {
                    console.log(JSON.stringify(localVideo));
                    var videoCard = $("#" + localVideo.video.videoId);
                    videoCard.find("button").remove();
                    var html = "";
                    // html = html +
                    //     "<p class='card-text'>" + localVideo.videoFile + "</p>";
                    html = html +
                        "<button type='button' onclick='doPlayVideo(\"" + localVideo.localUrl + "\")'" +
                        " class='btn btn-info btn-sm'>播放</button>";
                    html = html +
                        "<button type='button' class='btn btn-danger btn-sm delete-video-btn'" +
                        " onclick='deleteVideo(\"" + localVideo.video.uid + "\", \"" + localVideo.video.videoId + "\")'>删除</button>";
                    videoCard.find(".card-title").after(html);
                    alertToast("下载完成", localVideo.videoFile);
                    $("#download-num").html($(".delete-video-btn").length);
                },
                "json"
            );
        } catch (e) {
            console.error(e);
        } finally {
            btn.removeAttr("disabled");
        }
    }

    function searchUsers(pageNumId, clear) {
        if (clear) {
            clearUsers();
        }
        searching.on('shown.bs.modal', function (e) {
            $("tbody").html("");
            try {
                $.get(
                    "/dyhelper/users?searchStr=" + encodeURIComponent($("#searchText").val()) + "&page=" + $("#" + pageNumId).val(),
                    function (result) {
                        $("#currentPage").val(result.currentPage);
                        if (result.hasPre) {
                            $("#prePage").val(result.prePage);
                            $("#pre").removeClass("disabled");
                        } else {
                            $("#pre").addClass("disabled");
                        }
                        if (result.hasNext) {
                            $("#nextPage").val(result.nextPage);
                            $("#next").removeClass("disabled");
                        } else {
                            $("#next").addClass("disabled");
                        }
                        if (result.userList) {
                            $.each(result.userList, function (index, user) {
                                var html = "" +
                                    "<tr>" +
                                    "    <td rowspan='2' style='width:124px;'><img src='" + user.headImageUrl + "' style='width:100px;height:100px;'></td>" +
                                    "    <td>" + user.nickname + "</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                    "    <td>" +
                                    "        <button type='button' class='btn btn-primary btn-sm' onclick='viewUser(\"" + user.uid + "\", false)'>视频</button>" +
                                    "        <button type='button' class='btn btn-primary btn-sm' onclick='viewUser(\"" + user.uid + "\", true)'>所有视频</button>" +
                                    "        <a href='https://www.iesdouyin.com/share/user/" + user.uid + "' class='btn btn-primary btn-sm' target='_blank'>主页</a>" +
                                    "        <a href='/douyin/" + user.shortId + "-" + user.uid + "' class='btn btn-primary btn-sm' target='_blank'>本地</a>" +
                                    "    </td>" +
                                    "</tr>" +
                                    "";
                                $("tbody").append(html);
                            });
                        }
                        searching.modal('hide');
                    },
                    "json"
                );
            } catch (e) {
                console.error(e);
                searching.modal('hide');
            } finally {
                searching.off();
            }
        });
        searching.modal('show');
    }

    function viewUser(uid, isAll) {
        $("#uid").val(uid);
        view(true, isAll);
    }

    function deleteVideo(uid, videoId) {
        $.ajax({
            url: "/dyhelper/video/" + uid + "/" + videoId,
            type: "DELETE",
            success: function (data, textStatus, jqXHR) {
                if (data === "ok") {
                    alertToast("删除成功", uid + "/" + videoId);
                    var videoCard = $("#" + videoId);
                    var html = "<button type='button' class='btn btn-primary btn-sm download-video-btn'" +
                               " onclick='download(\"" + videoId + "\")'>下载</button>";
                    videoCard.find(".card-title").after(html);
                    videoCard.find(".download-video-btn ~ *").remove();
                    $("#download-num").html($(".delete-video-btn").length);
                } else {
                    alertToast("删除失败", uid + "/" + videoId);
                }
            }
        });
    }

    function downloadPage() {
        $(".download-video-btn").each(function (index) {
            var _this = $(this);
            _this.trigger("click");
        });
    }

    function deletePage() {
        $(".delete-video-btn").each(function (index) {
            var _this = $(this);
            _this.trigger("click");
        });
    }

    function alertToast(headerText, bodyHtml) {
        var html = "" +
            "<div class='toast' role='alert' aria-live='assertive' aria-atomic='true' data-delay='3000'>" +
            "    <div class='toast-header'>" +
            "        <strong class='mr-auto'>" + headerText + "</strong>" +
            "        <button type='button' class='ml-2 mb-1 close' data-dismiss='toast' aria-label='Close'>" +
            "            <span aria-hidden='true'>&times;</span>" +
            "        </button>" +
            "    </div>" +
            "    <div class='toast-body'>" + bodyHtml + "</div>" +
            "</div>" +
            "";
        var h = $(html);
        toasts.append(h);
        h.on('hidden.bs.toast', function () {
            h.remove();
        });
        h.toast('show');
    }

    function doPlayVideo(url) {
        var html = "" +
            "<video controls autoplay loop name='media' style='max-height: 800px;'>" +
            "<source src='" + url + "' type='video/mp4'>" +
            "</video>" +
            "";
        playVideo.on('shown.bs.modal', function (e) {
            playVideo.find(".modal-content").append(html);
        });
        playVideo.modal('show');
    }

    function clearVideo() {
        $('#video-list').html('');
        $('#cursor').val(0);
        // $("#nextPageVideo").attr("disabled", "disabled");
        $("#nextPageVideo").hide();
        $("#total-num").html('');
        $("#download-num").html('');
        awemeMap = {};
    }

    function clearUsers() {
        $("#currentPage").val(0);
        $("#nextPage").val(0);
        $("#prePage").val(0);
        $("#pre").addClass("disabled");
        $("#next").addClass("disabled");
        $("tbody").html("");
    }
</script>
</body>
</html>